<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "VictoryReviews", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user %>
        <%if current_user.admin %>
          <li class="nav-item">
            <%= link_to "Restaurants", :restaurants, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Posts", :posts, class: "nav-link" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "My Reviews", :posts, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New Review", :new_post, class: "nav-link" %>
          </li>
        <% end %>
      <% end%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu">
            <li><hr class="dropdown-divider"></li>
            <% if !current_user %>
              <li><%= link_to "Create Account", new_user_registration_path, class: "dropdown-item"%></li>
              <li><%= link_to "Login", new_user_session_path, class: "dropdown-item"%></li>
            <% else %>
              <li><%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item"%></li>
              <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item"%></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>
